<p *ngIf = "!(Users$ | async)" >Loading...</p>
<mat-accordion>
    
    <mat-expansion-panel *ngFor = "let user of Users$ |async">

       <mat-expansion-panel-header>
 
         <mat-panel-title>
 
           {{user.uid}}  {{user.name}} 
 
         </mat-panel-title>
 
       </mat-expansion-panel-header> 
 
        {{user.email}} 

        <button 
          mat-raised-button color="primary"
          (click)= saveUser(user.id,user.name,user.email) >create acount</button> 
      
 </mat-expansion-panel>
</mat-accordion>