<mat-card class="example-card" *ngFor = "let todo of SavedTodos$| async">
        <mat-panel-title>            
              {{todo.title}} 
            <span style="float: right;" *ngIf="todo.completed == 'true'" >
                <mat-checkbox checked="true"  (change)="updateCheckbox(todo.id,todo.completed)" >              
                   </mat-checkbox>
            </span>
            <span style="float: right;" *ngIf="todo.completed == 'false'" >
                <mat-checkbox  (change)="updateCheckbox(todo.id,todo.completed)">
      
                   </mat-checkbox>
            </span>
          </mat-panel-title>
          
    
    </mat-card>
    