<mat-card>
    <h1>LogIn</h1>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
          <div>
        <mat-form-field>
          <input matInput placeholder="email" [(ngModel)] = "email"   name = "email" required #spy>
        </mat-form-field>
    </div>
<div>
        <mat-form-field>
             <input matInput placeholder="password" [(ngModel)] = "password" name = "password" required #spy>
        </mat-form-field>
    </div>
        <div >
            <button mat-raised-button color="primary" [disabled]="!signupForm.form.valid">LogIn</button>
        </div>
      </div>
    </form>
</mat-card>

