<button
    mat-raised-button color="primary"
    routerLink="/addTodo">
    ADD TODO
  </button>
<mat-card class="example-card" *ngFor = "let todo of SavedTodos$| async">
      <mat-panel-title > 
        <div *ngIf="todo.done "style='color:green'>
            {{todo.title}} 
            <button mat-raised-button  color="primary" style="float:right;" [disabled]="todo.done" (click)=updateStatus(todo.id,todo.title)>done</button>
        </div>  
        <div *ngIf="!todo.done ">
            {{todo.title}} 
            <button mat-raised-button  color="primary" style="float:right;" [disabled]="todo.done" (click)=updateStatus(todo.id,todo.title)>done</button>
        </div>        
                 
        </mat-panel-title>    
  </mat-card>