<mat-card>
        <h1>Add Todo</h1>
        <form #addPost="ngForm" (ngSubmit)="onSubmit()">
          <div class="example-container">
             
            <mat-form-field>
                    <input matInput placeholder="title" [(ngModel)] = "title"
                    name = "title"
                    required #spy
                    #temp = "ngModel">
   <mat-error *ngIf="!(temp.valid || temp.pristine)">
     Title is required
   </mat-error>                        
 </mat-form-field>
</div>

<div>
        <button mat-raised-button color="primary" [disabled]="!addPost.form.valid">Add Todo</button>
    </div>
</form>
</mat-card>