<mat-accordion>
    <p *ngIf = "!(RegisteredUsers$ | async)" >Loading...</p>
    <mat-expansion-panel *ngFor = "let user of RegisteredUsers$ |async">

       <mat-expansion-panel-header>
 
         <mat-panel-title>
 
         name: {{user.name}} 
 
         </mat-panel-title>
 
       </mat-expansion-panel-header> 
 
       email: {{user.email}} 
      
 </mat-expansion-panel>
</mat-accordion>